<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>分类管理</h1>
<hr>
<%= JSON.stringify(data)%>
  <table border="1" width="100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>title</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <%for(var i = 0; i<data.length;i++){%>
    <tr>
      <td><%= data[i].id%></td>
      <td><%= data[i].title%></td>
      <td>
        <a href="/admin/user?act=mod&id=">修改</a>
        <a href="?act=remove&id="
           onclick="return confirm('确定删除吗')">删除</a>
      </td>
    </tr>
    <%}%>
    </tbody>
  </table>
</body>
</html>